<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRegneWcfService" />
                <binding name="BasicHttpBinding_IPersonWcfService" />
                <binding name="BasicHttpBinding_ICalculationService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://webservicedemo.datamatiker-skolen.dk/RegneWcfService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRegneWcfService"
                contract="RegneWcfService.IRegneWcfService" name="BasicHttpBinding_IRegneWcfService" />
            <endpoint address="http://webservicedemo.datamatiker-skolen.dk/PersonWcfService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonWcfService"
                contract="PersonWcfService.IPersonWcfService" name="BasicHttpBinding_IPersonWcfService" />
            <endpoint address="http://localhost:1912/CalculationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICalculationService"
                contract="CalculationService.ICalculationService" name="BasicHttpBinding_ICalculationService" />
        </client>
    </system.serviceModel>
</configuration>